body, html, h1, h2, h3, h4, h5, h6 {
    font-family: $stackPrincipal;
    font-weight: 400;
}

.screen-reader-text {
    display: none;
}

pre {
    text-transform: none !important;
}

.icono {
    width: 3em; height: 3em;
    fill: #fff;
    &-facebook {
        background: $colorFacebook;
    }
    &-google-plus {
        background: $colorGooglePlus;
    }
    &-pinterest {
        background: $colorPinterest;
    }
    &-twitter {
        background: $colorTwitter;
    }
    &-instagram {
        @include degradadoInstagram;
    }
    &-youtube {
        background: $colorGooglePlus;
    }
    &-whatsapp {
        background: $colorWhatsapp;
    }
}
