.icono {
    width: 3em; height: 3em;
    fill: #fff;
    &-facebook {
        background: $colorFacebook;
    }
    &-google-plus {
        background: $colorGooglePlus;
    }
    &-pinterest {
        background: $colorPinterest;
    }
    &-twitter {
        background: $colorTwitter;
    }
    &-instagram {
        @extend %degradadoInstagram;
    }
    &-youtube {
        background: $colorGooglePlus;
    }
    &-whatsapp {
        background: $colorWhatsapp;
    }
}
