// sass-lint:disable class-name-format
.nav-cabecera {
    display: none;
    list-style-type: none;
    margin-left: 0;
    @media only screen and (min-width: $large) {
        display: block;
    }
    &.visible {
        display: block;
    }
    .menu-item {
        display: block;
        position: relative;
        @media only screen and (min-width: $large) {
            display: inline-block;
        }
        &:hover {
            > a {
                background: #d9d9d9;
            }
            > .sub-menu {
                display: block;
            }
        }
        > a {
            background: #fff;
            color: #1391e1;
            display: block;
            outline: 1px solid #eee;
            padding: 0.2em 0.35em;
        }
    }
    .current-menu-item > a,
    .current_page_item > a {
        color: #d13a1c;
    }
    .menu-item-has-children > a {
        &::after {
            content: '\02193';
            margin: 0 0.2em;
        }
    }
    .sub-menu {
        left: 0;
        right: auto;
        top: 100%;
        @media only screen and (min-width: $large) {
            display: none;
            margin-left: 0;
            position: absolute;
            .sub-menu {
                position: absolute;
            }
            .menu-item {
                width: 12em;
            }
        }
        .sub-menu {
            left: 100%;
            right: auto;
            top: 0;
        }
    }
}

.toggleNavegacionPrincipal {
    .icono {
        @include hamburger(#000, #222, 14px, 12px, 1px, 3);
        margin-right: 0.3em;
        position: relative;
        top: -1px;
    }
}
