@import 'variables';
@import 'mixins';

$fondo: #f1f1f1;
$ancho: 250px;
$alto: 150px;
$colorLinks: #00a0d2;

// sass-lint:disable no-ids
body {
    background: $fondo;
}

#login {
    padding-top: 4%;
}

.login {
    h1 {
        a {
            background-image: url('../img/logo-login.png');
            background-size: $ancho $alto;
            height: $alto;
            width: $ancho;
        }
    }

    #nav,
    #backtoblog {
        a {
            &,
            &:focus {
                color: $colorLinks;
            }
        }
    }
}

