@import "base/variables";
@import "base/mixins";

body {
    background: #f1f1f1;
}

#login {
    padding-top: 4%;
}

.login {
    h1 a {
        background-image: url(../img/logo-login.png);
        width: 250px;
        height: 150px;
        background-size: 250px;
        outline: 1px solid #ddd;
    }
    #nav,
    #backtoblog {
        a, a:focus {
            color: #00a0d2;
        }
    }
}

