// Slick 1.6.0
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    &:focus {
        outline: none;
    }
    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider {
    .slick-track, .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
           -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
             -o-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    &:before,
    &:after {
        display: table;
        content: '';
    }
    &:after {
        clear: both;
    }
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }
    &.dragging img {
        pointer-events: none;
    }
    [dir='rtl'] & {
        float: right;
    }
    .slick-initialized & {
        display: block;
    }
    .slick-loading & {
        visibility: hidden;
    }
    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

.no-js .galeria-slick div {
    display: inline-block;
    img {
        display: inline-block;
    }
}
.slick-slider {
    position: relative;
}
.slick-slide {
    margin: 0 0.15em;
    img {
        display: block;
        margin: 0 auto;
        height: 195px;
        width: auto;
    }
}
.slick-arrow {
    display: block;
    height: 100%;
    width: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 5;
    font-size: 0;
    &.slick-prev {
        background: #E57F27 url(../img/prev.png) no-repeat scroll center center;
        left: -10px;
    }
    &.slick-next {
        background: #E57F27 url(../img/next.png) no-repeat scroll center center;
        right: -10px;
    }
}
